* {
    font-family: 'Roboto', sans-serif;
}

/* Header Section */







.nested-illustration-container {
    overflow:hidden;
    /* padding: 3000px; */

}

.illustration-item {
    background-color: white;
    padding: 20px;
    margin-bottom: 6px;
    border-color: #3882F6;
    border-style: solid;
    border-radius: 10px;
    /* height: 200px; */
    /* overflow: hidden; */
}