* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

/* Section background and font colours */
.header-section,
.hero-section,
.footer-section {
    color: white;
    background-color: #1F2937;
}

.info-section {
    background-color: white;
    color: black;
}

.quote-section {
    background-color: #E5E7EB;
}

.quote-text-item {
    font-style: italic;
}

.quote-author-item {
    font-weight: 500;
}



.header-logo {
    font-size: 13px;
    font-weight: 600;
}

.breadcrumb-item {
    font-size: 11px;
}

/* Hero Section */
 {}





.nested-illustration-container {
    overflow:hidden;
    /* padding: 3000px; */

}

.illustration-item {
    background-color: white;
    padding: 20px;
    margin-bottom: 6px;
    border-color: #3882F6;
    border-style: solid;
    border-radius: 10px;
    /* height: 200px; */
    /* overflow: hidden; */
}