* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

/* Section background and font colours */

.header-section,
.hero-section,
.footer-section {
    color: white;
    background-color: #1F2937;
}

.info-section {
    background-color: white;
    color: black;
}

.info-header {
    font-weight: 500;
    font-size: 17px;
}

.illustration-text {
    font-size: 12px;
}

.quote-section {
    background-color: #E5E7EB;
}

.quote-text-item {
    font-style: italic;
}

.quote-author-item {
    font-weight: 500;
}

.call-to-action-section {
    background-color: #3882F6;
    color: white;
    margin: 5%;
    width: 40%;
    display: flex;
    justify-content: center;
    border-radius: 6px;
}

.call-to-action-container {
    padding: 2%;
    margin-top: 1rem;
    margin-bottom: 1rem;

    display: flex;
    justify-content: center;
}

.call-to-action-container-column {
    display: flex;
    flex-direction: column;
}

.call-to-action-btn-container-column {
    display: flex;
    flex-direction: column;
}

.call-to-action-btn-item {
    align-items: center;
}

.call-to-action-header {
    font-weight: 500;
    margin: 0px;

}

.call-to-action-subtitle {
    font-weight: 200;
    margin: 0px;
}

.call-to-action-btn {
    border-color: white;
    border-style: solid;
    border-radius: 6px;
    background: none;
    color:white;
}



.header-logo {
    font-size: 13px;
    font-weight: 600;
}

.breadcrumb-item {
    font-size: 11px;
}

/* Hero Section */





.nested-illustration-container {
    overflow:hidden;
    /* padding: 3000px; */
}

.illustration-item {
    background-color: white;
    padding: 20px;
    margin-bottom: 6px;
    border-color: #3882F6;
    border-style: solid;
    border-radius: 10px;
    /* height: 200px; */
    /* overflow: hidden; */
}

.footer-header {
    margin:0px;
    padding: 3%;
}