* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

/* Section background and font colours */

.header-section,
.hero-section,
.footer-section {
    color: white;
    background-color: #1F2937;
}

.info-section {
    background-color: white;
    color: black;
}

.info-header {
    font-weight: 500;
    font-size: 17px;
}

.illustration-text {
    font-size: 12px;
}

.quote-section {
    background-color: #E5E7EB;
}

.quote-container {
    padding: 3% 15%;

    display: flex;
    flex-direction: column;
}

.quote-text-item {
    font-style: italic;

    display: flex;
}

.quote-author-item {
    font-weight: 500;
    margin-top:0px;


    display: flex;
    justify-content: end;
}

.quote-author {
    margin-top:-2%;

}

.call-to-action-section {
    background-color: #3882F6;
    color: white;
    margin: 5%;
    border-radius: 6px;
    width: 65%;
}

.call-to-action-container {
    padding: 2%;
    margin-top: 1rem;
    margin-bottom: 1rem;

    display: flex;
    justify-content: space-between;
}

.call-to-action-container-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 9%;
    /* align-items: center; */
}

.call-to-action-btn-container-column {
    display: flex;
    margin-right: 9%;

    /* flex-direction: column; */
    /* justify-content: end; */
    /* align-items: center; */
}

/* .call-to-action-btn-item {
    display: flex;
    align-items: center;    
} */

.call-to-action-header {
    font-weight: 500;
    margin: 0px;

}

.call-to-action-subtitle {
    font-weight: 200;
    margin: 0px;
}

.call-to-action-btn {
    border-color: white;
    border-style: solid;
    border-radius: 6px;
    background: none;
    color:white;
    display: flex;
    padding: 5px 28px;
    border-width: 1px;
}



.header-logo {
    font-size: 13px;
    font-weight: 600;
}

.breadcrumb-item {
    font-size: 11px;
}

/* Hero Section */





.info-header {
    text-align: center;
}

.illustrations-container {
    display: flex;
    justify-content: space-around;
}

/* .nested-illustration-container { */
    /* overflow:hidden; */
    /* padding: 3000px; */
/* } */

.illustration-item {
    background-color: white;
    padding: 20px;
    margin-bottom: 6px;
    border-color: #3882F6;
    border-style: solid;
    border-radius: 10px;
    /* height: 200px; */
    /* overflow: hidden; */
}

.footer-header {
    margin:0px;
    padding: 3%;
}