* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

.header-section,
.hero-section,
.footer-section {
    color: white;
    background-color: #1F2937;
}

.title-text {
    font-weight: 500;
}

.subtitle-text {
    font-weight: 300;
}


.hero-section {
    display: flex;
    justify-content: center;
}

.hero-container {
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 70%;
}

.hero-container-column {
    display: flex;
    flex-direction: column;
    padding: 8% 5%;
}

.hero-column-item {
    display: flex;
    /* margin-left: 5%; */
}

.hero-btn {
    border-color: #3882F6;
    border-style: solid;
    border-radius: 6px;
    background-color: #3882F6;
    color:white;
    display: flex;
    padding: 5px 21px;
    border-width: 1px;
}

.info-section {
    background-color: white;
    color: black;
}

.info-header {
    font-weight: 500;
    font-size: 17px;
}

.illustration-text {
    text-align: center;
    font-size: 16px;
    width: 100%;
}

.quote-section {
    background-color: #E5E7EB;
}

.quote-container {
    padding: 5% 15%;

    display: flex;
    flex-direction: column;
}

.quote-text-item {
    font-style: italic;
    font-size: 20px;
    font-weight: 100;

    display: flex;
}

.quote-text {
    margin-bottom: 0px;
    font-size: 25px;
}

.quote-author-item {
    font-weight: 500;
    margin-top:0px;


    display: flex;
    justify-content: end;
}

.quote-author-text {
    margin-top:0px;
    font-size: 20px;

}

.call-to-action-section {
    background-color: #3882F6;
    color: white;
    margin: 5%;
    border-radius: 6px;
    width: 65%;

    display: flex;
    justify-content: center;
}

.call-to-action-container {
    padding: 2%;
    margin-top: 1rem;
    margin-bottom: 1rem;

    display: flex;
    justify-content: space-between;
}

.call-to-action-container-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 9%;
}

.call-to-action-btn-container-column {
    display: flex;
    margin-right: 9%;
}

.call-to-action-header {
    font-weight: 500;
    margin: 0px;

}

.call-to-action-subtitle {
    font-weight: 200;
    margin: 0px;
}

.call-to-action-btn {
    border-color: white;
    border-style: solid;
    border-radius: 6px;
    background: none;
    color:white;
    display: flex;
    padding: 5px 24px;
    border-width: 1px;
}



.header-logo {
    font-size: 13px;
    font-weight: 600;
}

.breadcrumb-item {
    font-size: 11px;
}


.info-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-header-item {
    display: flex;
    margin: 1%;
}

.info-header {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    /* margin-top: 3%; */
}

.illustrations-container {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.single-illustration-container {
    display: flex;
    flex-direction: column;
    width:130px;
}

#single-illustration-container {
    margin-right: 1%;
    margin-left: 1%;
    justify-content: center;
}

.illustration-item {
    background-color: white;
    margin-bottom: 6px;
    border-color: #3882F6;
    border-style: solid;
    border-radius: 10px;
    width: 120px;
    height: 120px;
    align-items: center;
}

#test {
    align-items: center;
}

.illutstration-text-item {
    display: flex;
    text-align:justify;
    width: 100%;
}

.footer-header {
    margin:0px;
    padding: 3%;
}